<body>
  <header>
  <% if user_signed_in?%>
    <!--　ログイン/新規登録できたとき -->
    <div class="header-signed">
      <div class="header-list">
        <%= link_to "Trainote", root_path, class:"devise"%>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"%>
      </div>
    </div>
    <!-- 未ログインのとき-->
  <% else %>
    <!--（追加）ログインと新規機能をページ遷移なしで処理させたい -->
    <div class="unsigned">
      <div class="header-list">
        <%= link_to "ログイン", new_user_session_path, class:"login" %>
        <%= link_to "新規登録", new_user_registration_path, class:"sign-up" %>
      </div>
    </div>
    <!--（追加）ログインと新規機能をページ遷移なしで処理させたい -->
  </header>
  <main>
    <div class="introduce">
      <p class="greeting">Hi! Welcome to Trainote!!</p>
      <p class="greeting">This is a place to record your workout and diet.</p>
    </div>
  </main>
  <% end %>
</body>