<body>
  <header>
  <!--　ログイン/新規登録できたとき -->
  <!-- 未ログインのとき-->
  </header>
  <main>
    <div class="introduce">
      <p class="greeting">Hi! Welcome to Trainote!!</p>
      <p class="greeting">This is a place to record your workout and diet.</p>
    </div>
  </main>
</body>